# PyMySQL
- 想要将数据存储到MySql，需要借助该存储库

## 安装

In [ ]:
# 安装
pip install pymysql

# 验证
import pymysql
print(pymysql.VERSION)

## 链接数据库

In [ ]:
'''
前提：mysql运行在本地，用户名为root，密码为123456，运行端口为3306
'''
import pymysql

db = pymysql.connect(host='localhost',user='root',password='123456',port=3306)
cursor = db.cursor() # 游标
cursor.execute('CREATE DATABASE spiders DEFAULT CHARACTER SET utf8') # 创建一个数据库
db.close()

## 创建表

In [ ]:
sql = '
    CREATE TABLE IF NOT EXISTS students (
        id VARCHAR(255) NOT NULL,
        name VARCHAR(255) NOT NULL,
        age INT NOT NULL,
        PRIMARY KEY(ID)
    )'
    
cursor.execute(sq)
db.close()

## 插入数据

In [ ]:
sql = 'INSERT INTO students(id,name,age) values(10,11,12)'
try:
    cursor.execute(sql)
    db.commit()
except:
    db.rollback() # 回滚
db.close()


# 插入字典内容
data = {
    'id':'xxx',
    'name':'aaa'
}
table = 'students'
keys = ','.join(data.keys())
values =  ','.join(['%s'] * len(data)) # 形成%s %s %s，从而在执行插入语句时能使用tuple(data.values())
sql = 'INSERT INTO {table}({key}) VALUES ({values})'.format(table=table,keys=keys,values=values)
try:
    if cursor.execute(sql,tuple(data.values())):
        print('Successfule')
except:
    print('Failed')
    db.rollback()
db.close()

## 更新数据

In [ ]:
data = {
    'id':1
}
table = 'student'
keys = ','.join(data.keys())
values = ','.join(['%s'] * len(data))

sql = 'INSERT INTO{table}({keys}) VALUES ({values}) ON DUPLICATE KEY UPDATE'.format(table=table,keys=keys,values=values)
update = ','.join(["{key} = %s".format(key=key) for key in data])
sql += update
try:
    if cursor.execute(sql,tuple(data.values())*2):
        print('Successful')
        db.commit()
except:
    print('Failed')
    db.rollback()
db.close()

## 删除数据

table = 'students'
condition = 'age > 20'

sql = 'DELETE FROM {table} WHERE {condition}'.format(table=table,condition=condition)
try:
    cursor.execute(sql)
    db.commit()
except:
    db.rollback()
    
db.close()

## 查询数据

In [ ]:
sql = 'SELECT * FROM students WHERE age >= 20'

try:
    cursor.execute(sql)
    print('Count:',cursor.rowcount)
    one = cursor.fetchone() # 第一条数据，返回结果是元组形式
    print('One:',one)
    results = cursor.fetchall() # 所有数据，返回二重元组，如果数据量大时，会占用很大的开销
    print('Results:',results) 
    for row in results:
        print(row)
except:
    print('ERROR')